h1{
    font-size: 50px;
    font-family: 'Roboto Serif', sans-serif;
}

.content{
    padding: 50px 400px;
    text-align: center;
}
p{
    padding: 5px 100px;
}
.btn{
    font-size: 20px;
    margin-top: 15px;
    margin-right: 20px;
}
img{
    width: 100%;
    height: auto;
    margin-top: -50px;
}
.image1{
    margin-left: 200px;
}
.image2{
    margin-left: 0px;
}
.image3{
    margin-left: -190px;
}
@media (max-width: 1182px){
    h1{
        font-size: 40px;
    }
    .btn{
        margin-top: 20px;
    }
    img{
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    .image1{
        margin-left: 0px;
    }
    .image2{
        margin-top: 0px;
        margin-left: 0;
    }
    .image3{
        margin-left: 0;
    }
    .content{
        padding: 10px;
     }
}
